:root {
  /*    color constant     */
  --color-white: #ffffff;
  --color-lite-primary: #ffda6b;
  --color-primary: #ffc107;
  --color-dark-primary: #c1940d;
  --color-secondary: #0288d1;
  --color-warning: #ffeb3b;
  --color-danger: #ff5722;
  --color-black: #2c2c2c;
  --color-black-gray: rgba(0, 0, 0, 0.7);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-30: rgba(0, 0, 0, 0.3);

  /*    font size constant    */
  --font-size-large: 40px;
  --font-size-medium: 32px;
  --font-size-small: 20px;
  --font-size-x-small: 16px;

  /*    font family constant   */
}
